services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: storefront
    ports:
      - "3004:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
